@import 'tailwindcss/base';
@import './base.pcss';
@import './nprogress.pcss';

@import 'tailwindcss/components';
@import './components.pcss';

@import 'tailwindcss/utilities';
@import './utilities.pcss';
